body {
  margin: 0;
  border: 0;
  background-color: #121212;
  color: white;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

nav {
	display: flex;
	padding: 0 15%;
	align-items: center;
	background-color: #151515;
	border-bottom: 2px solid #272727;
	font-weight: bold;
	height: 80px;
}

nav a {
	text-decoration: none;
}


nav ul a{
	color: white;
}

nav p{
	color: #00d2df;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 1px;
}

nav ul {
	display: flex;
	margin-left: auto;
}

nav ul li{
	list-style: none;
	margin: 10px 30px;
	font-weight: 400;
}